<div class="page_info">

  <!-- Form: Adding a new droid to the database -->
  <div class="table">
    <form action="/droids" method="POST" id="droid_add">

      <legend><strong>Add a new Droid</strong></legend>

      <!-- input fields -->
      <div class="form_input">
	<!-- id of droid to add -->
        <div>
	  <label>
	    <input type="text" name="id">
	    Droid ID
	  </label>
	</div>

	<!-- type of droid to add -->
        <div>
	  <label>
	    <select id="droid_type_select" name="type">
	      <option value="Assassin">Assassin</option>
	      <option value="Astromech">Astromech</option>
	      <option value="Battle">Battle</option>
	      <option value="Biological Science">Biological Science</option>
	      <option value="Child Care">Child Care</option>
	      <option value="Engineering">Engineering</option>
	      <option value="Environmental">Environmental</option>
	      <option value="Exploration">Exploration</option>
	      <option value="General Labor">General Labor</option>
	      <option value="Gladiator">Gladiator</option>
	      <option value="Hazardous Service">Hazardous Service</option>
	      <option value="Labor Specialist">Labor Specialist</option>
	      <option value="Maintenance">Maintenance</option>
	      <option value="Mathematics">Mathematics</option>
	      <option value="Medical">Medical</option>
	      <option value="Physical Science">Physical Science</option>
	      <option value="Protocol">Protocol</option>
	      <option value="Security">Security</option>
	      <option value="Servant">Servant</option>
	      <option value="Tutor">Tutor</option>
	    </select>
	    Type
	  </label>
	</div>
      </div>

      <!-- Adding button -->
      <div><button>add</button></div>

    </form>
  </div>

</div>


<div class="db">
  <table>
    <thead>
      <tr>
	<th>Droid ID</th>
	<th>Type</th>
      </tr>
    </thead>

    <tbody>
      {{#each droids}}
	<tr>
	  <td>{{id}}</td>
	  <td>{{type}}</td>
	</tr>
      {{/each}}
    </tbody>
  </table>
</div>
