<div class="page_info">

  <!-- Form: Adding a new droid to the database -->
  <div class="table">
    <form action="" id="droid_add">

      <legend><strong>Add a new Droid</strong></legend>

      <!-- input fields -->
      <div class="form_input">
	<!-- id of droid to add -->
        <div>
	  <label>
	    <input type="text">
	    Droid ID
	  </label>
	</div>

	<!-- type of droid to add -->
        <div>
	  <label>
	    <input type="text">
	    Type
	  </label>
	</div>
      </div>

      <!-- Adding button -->
      <div><button>add</button></div>

    </form>
  </div>

</div>


<div class="db">
  <table>
    <tr>
      <th>Droid ID</th>
      <th>Type</th>
    </tr>

    <tr>
      <td>3</td>
      <td>Protocol</td>
    </tr>

    <tr>
      <td>4</td>
      <td>Battle</td>
    </tr>

    <tr>
      <td>5</td>
      <td>Astromech</td>
    </tr>

    <tr>
      <td>6</td>
      <td>Battle</td>
    </tr>

    <tr>
      <td>7</td>
      <td>Medical</td>
    </tr>

  </table>
</div>
