<p>
  Empire Employees is a database driven web application designed to manage
  stormtroopers, garrisons, ships, and droids under the Galactic Empire. It
  does this by providing a listing of each of the above entities as well as
  allowing users to add/modify/delete entities. For modifying these entities,
  we allow troopers to be moved around to various garrisons (or no garrisons at
  all if they are in transit). Their equipment, modeled by the Loadouts entity,
  can also be updated as well. We can move troopers/droids from ship to ship as
  well and in this case these relationships are modeled by a M:M
  relationship. Stormtroopers can also be deleted from the database if they
  have fulfilled their purpose and given their lives for the Empire.
</p>

<h2>troopers (CREATE/READ/UPDATE/DELETE/FILTER)</h2>
<ul>
  <li>INSERT a trooper</li>
  <li>SELECT to display entire table</li>
  <li>SELECT to filter troopers on a specific garrison/loadout</li>
  <li>DELETE a trooper</li>
  <li>Assign a NULL to troopers.garrison to remove the (1:M) relationship</li>
</ul>
<h2>garrisons (CREATE/READ)</h2>
<ul>
  <li>INSERT a garrison</li>
  <li>SELECT to display entire table</li>
</ul>
<h2>loadouts (CREATE/READ/UPDATE)</h2>
<ul>
  <li>INSERT a loadout</li>
  <li>SELECT to display entire table</li>
  <li>UPDATE a loadout</li>
</ul>
<h2>ships (CREATE/READ)</h2>
<ul>
  <li>INSERT a ship</li>
  <li>SELECT to display entire table</li>
</ul>
<h2>droids (CREATE/READ)</h2>
<ul>
  <li>INSERT a droid</li>
  <li>SELECT to display entire table</li>
</ul>
<h2>Ship Manifests (CREATE/READ/DELETE)</h2>
<ul>
  <li>Manage ship_troopers and ship_droids</li>
  <li>INSERT a (ship, trooper) row to add a (M:M) to relationship</li>
  <li>INSERT a (ship, droid) row to add a (M:M) to relationship</li>
  <li>DELETE a (ship, droid) row to remove a (M:M) relationship from ships_droids</li>
  <li>DELETE a (ship, trooper) row to remove a (M:M) relationship from ships_troopers</li>
</ul>
