<div class="page_info">


  <h2>troopers</h2>
  <ul>
    <li>INSERT a trooper</li>
    <li>SELECT to display entire table</li>
    <li>SELECT to filter troopers on a specific ship/garrison</li>
    <li>DELETE a trooper</li>
    <li>Assign a NULL to troopers.garrison to remove the (1:M) relationship</li>
  </ul>
  <h2>garrisons</h2>
  <ul>
    <li>INSERT a garrison</li>
    <li>SELECT to display entire table</li>
  </ul>
  <h2>loadouts</h2>
  <ul>
    <li>INSERT a loadout</li>
    <li>SELECT to display entire table</li>
    <li>UPDATE a loadout</li>
  </ul>
  <h2>ships</h2>
  <ul>
    <li>INSERT a ship</li>
    <li>SELECT to display entire table</li>
  </ul>
  <h2>droids</h2>
  <ul>
    <li>INSERT a droid</li>
    <li>SELECT to display entire table</li>
  </ul>
  <h2>Composite Entities</h2>
  <ul>
    <li>Manage ship_troopers and ship_droids in manifests.html</li>
    <li>DELETE a (ship, droid) row to remove a (M:M) relationship ships_droids</li>
    <li>DELETE a (ship, trooper) row to remove a (M:M) relationship from ships_troopers</li>
  </ul>

</div>
