<div class="page_info">
  <!-- Form: Adding a new loadout to the database -->
  <div class="table">
    <form action="" id="loadout_add">

      <legend><strong>Add a new Loadout</strong></legend>

      <!-- input fields -->
      <div class="form_input">
	<!-- blaster adding field -->
        <div>
	  <label>
	    <input type="text">
	    Blaster ID
	  </label>
	</div>

	<!-- detonator adding field -->
        <div>
	  <label>
	    <input type="text">
	    Detonator ID
	  </label>
	</div>
      </div>

      <!-- Adding button -->
      <div><button>add</button></div>

    </form>
  </div>
</div>

<br/>

<!-- Form: Updating a loadouts attributes -->
<div class="table">
  <form action="" id="loadout_add">
    <legend><strong>Update an existing Loadout</strong></legend>

    <!-- input fields -->
    <div class="form_input">
      <!-- field for id of loadout to update -->
      <div>
	<label>
	  <input type="text">
	  Loadout ID
	</label>
      </div>

      <!-- blaster updating field -->
      <div>
	<label>
	  <input type="text">
	  Blaster ID
	</label>
      </div>

      <!-- detonator updating field -->
      <div>
	<label>
	  <input type="text">
	  Detonator ID
	</label>
      </div>
    </div>

    <!-- Updating button -->
    <div><button>update</button></div>

  </form>
</div>

<div class="db">
  <table>
    <tr>
      <th>Loadout ID</th>
      <th>Blaster</th>
      <th>Detonator</th>
    </tr>

    <tr>
      <td>100</td>
      <td>EL-16</td>
      <td>Thermal</td>
    </tr>

    <tr>
      <td>101</td>
      <td>E-11</td>
      <td>Fragmentation</td>
    </tr>
  </table>
</div>
</div>
