<div class="page_info">
  <!-- Form: Adding a new loadout to the database -->
  <div class="table">
    <form action="" id="loadout_add">

      <legend><strong>Add a new Loadout</strong></legend>

      <!-- input fields -->
      <div class="form_input">
	<!-- blaster adding field -->
        <div>
	  <label>
	    <input type="text">
	    Blaster
	  </label>
	</div>

	<!-- detonator adding field -->
        <div>
	  <label>
	    <input type="text">
	    Detonator
	  </label>
	</div>
      </div>

      <!-- Adding button -->
      <div><button>add</button></div>

    </form>
  </div>


  <br/>

  <!-- Form: Updating a loadouts attributes -->
  <div class="table">
    <form action="" id="loadout_add">
      <legend><strong>Update an existing Loadout</strong></legend>

      <!-- input fields -->
      <div class="form_input">
	<!-- field for id of loadout to update -->
	<div>
	  <label>
	    <input type="text">
	    Loadout ID
	  </label>
	</div>

	<!-- blaster updating field -->
	<div>
	  <label>
	    <input type="text">
	    Blaster
	  </label>
	</div>

	<!-- detonator updating field -->
	<div>
	  <label>
	    <input type="text">
	    Detonator
	  </label>
	</div>
      </div>

      <!-- Updating button -->
      <div><button>update</button></div>

    </form>
  </div>

</div>

<div class="db">
  <table>
    <thead>
      <tr>
	<th>Loadout ID</th>
	<th>Blaster</th>
	<th>Detonator</th>
      </tr>
    </thead>

    <tbody>
      {{#each loadouts}}
	<tr>
	  <td>{{id}}</td>
	  <td>{{blaster}}</td>
	  <td>{{detonator}}</td>
	</tr>
      {{/each}}
    </tbody>
  </table>
</div>
</div>
