<div class="page_info">
      <!-- Form: Adding a new ship to the database -->
      <div class="table">
        <form action="/ships" method="POST" id="ship_add">

	  <legend><strong>Add a new Ship</strong></legend>

	  <!-- input fields -->
	  <div class="form_input">
	    <!-- id of ship to add -->
            <div>
	      <label>
		<input type="number" name="id" min="1">
		Ship ID
	      </label>
	    </div>

	    <!-- type of ship to add -->
        <div>
	  <label>
	    <select id="ship_type_select" name="type">
	      {{#each shipTypes}}
		<option value="{{this}}">{{this}}</option>
	      {{/each}}
	    </select>
	    Type
	  </label>
	</div>
      </div>

	  <!-- Adding button -->
          <div><button>add</button></div>

        </form>
      </div>

    </div>


<div class="db">
  <table>
    <thead>
      <tr>
	<th>Ship ID</th>
	<th>Type</th>
      </tr>
    </thead>

    <tbody>
      {{#each ships}}
	<tr>
	  <td>{{id}}</td>
	  <td>{{type}}</td>
	</tr>
      {{/each}}
    </tbody>
  </table>
</div>

</div>