<div class="page_info">

  <div class="table">
    <form action="" id="trooper_add">
      <div class="form_input">

        <legend><strong>Add a new Trooper</strong></legend>

        <Label>
          <input type="text"> Trooper ID
        </Label>

        <br>
        <Label>
          <input type="text"> Garrison ID
        </Label>

        <br>
        <Label>
          <input type="text"> Loadout ID
        </Label>

        <br>

      </div>

      <div><button>Add</button></div>

    </form>
  </div>

  <br>

  <div class="table">
    <form action="" id="garrison_filter">
      <div class="form_input">

        <legend><strong>Filter by Garrison</strong></legend>


        <Label>
          <input type="text"> Garrison ID
        </Label>

        <br>




      </div>

      <div><button>Filter</button></div>

    </form>
  </div>

  <br>

  <div class="table">
    <form action="" id="trooper_filter">
      <div class="form_input">

        <legend><strong>Filter by Ship ID</strong></legend>


        <Label>
          <input type="text"> Ship ID
        </Label>

        <br>


      </div>

      <div><button>Filter</button></div>

    </form>
  </div>

  <br>

  <div class="table">
    <form action="" id="trooper_garrison_change">
      <div class="form_input">

        <legend><strong>Change Garrison assignment</strong></legend>

        <Label>
          <input type="text"> Trooper ID
        </Label>


        <br>

        <Label>
          <input type="text"> Garrison ID
        </Label>


        <br>

      </div>

      <div >
        <label>
          <input type="radio" class="radio_b" name="move">
          Remove From Garrison
        </label>

        <label>
          <input type="radio" class="radio_b" name="move">
          Move To
        </label>


      </div>

      <div><button>Submit</button></div>

    </form>
  </div>

  <br>

  <div class="table">
    <form action="" id="trooper_delete">
      <div class="form_input">

        <legend><strong>Delete Trooper (RIP)</strong></legend>


        <Label>
          <input type="text"> Trooper ID
        </Label>

        <br>


      </div>

      <div><button>Delete</button></div>

    </form>
  </div>

  <br>

</div>


<div class="db">
  <table>
    <tr>
      <th>Trooper ID</th>
      <th>Garrison ID</th>
      <th>Garrison Name*</th>
      <th>Loadout ID</th>
      <th>Blaster*</th>
      <th>Detonator*</th>
    </tr>

    <tr>
      <td>2188</td>
      <td>3</td>
      <td>Tatooine</td>
      <td>2</td>
      <td>E-11</td>
      <td>Sonic</td>
    </tr>

    <tr>
      <td>2189</td>
      <td>3</td>
      <td>Coruscant</td>
      <td>3</td>
      <td>DC-15A</td>
      <td>Sonic</td>
    </tr>

    <tr>
      <td>2190</td>
      <td>3</td>
      <td>Kashyyk</td>
      <td>3</td>
      <td>DC-15A</td>
      <td>Sonic</td>
    </tr>

    <tr>
      <td>2191</td>
      <td>3</td>
      <td>Kashyyk</td>
      <td>3</td>
      <td>DC-15A</td>
      <td>Sonic</td>
    </tr>

    <tr>
      <td>2199</td>
      <td>3</td>
      <td>Kashyyk</td>
      <td>3</td>
      <td>DC-15A</td>
      <td>Sonic</td>
    </tr>

  </table>
  *Not an attribute of trooper (attribute from a table troopers references).
</div>
