.title_bar {
    background-color: rgb(65, 63, 63);
    color: white;
    padding-left: 40px;
    font-size: 60px;
}

.menu {
    position: static;
    font-size: 20px;
    width: auto;
    padding-right: 10px;
    float: left;
    background-color: rgb(61, 142, 209, .5);
    height: 90vh;
}

.menu ul {
    padding-left: 10px;
}

.menu ul a {
    text-decoration: none;
}


.page_info {
    margin-top: 15px;
    margin-left: 40px;
    float: left;
}

.page_info_manifests {
    margin-top: 35px;
    margin-left: 43px;
    width: 220px;
    margin-left: 180px;
}

.db {
    float: left;
    /* margin-top: 90px; */
    margin-left: 120px;
    /* outline: 2px solid black; */
    padding: 10px 10px;
}

.db th {
    outline: 1px solid black;
    background: rgb(61, 142, 209, .5);
    padding: 5px 10px;
}

.db td {
    outline: 1px solid black;
    padding: 5px 10px;
}

.table {
    outline: 2px solid black;
    padding: 10px 10px;
    width: 250px;
}

.table input {
    width: 90px;
}

input.radio_b {
    width: 10px;
}

h1, #error_message {
    /* color: green; */
    margin-left: 180px;
}

#error_message{
    color: red;
}

.db_manifests{
    padding-top: 50px;
    margin-top: 30px;
    margin-left: 30px;
    float: left;
    margin-top: 15px;
    
}

.db_manifests th {
    outline: 1px solid black;
    background: rgb(61, 142, 209, .5);
    padding: 5px 10px;
}

.db_manifests td {
    outline: 1px solid black;
    padding: 5px 10px;

}

