.title_bar {
    background-color: rgb(65, 63, 63);
    color: white;
    padding-left: 40px;
    font-size: 60px;
}

.menu {
    position: static;
    font-size: 20px;
    width: 140px;
    float: left;
    background-color: rgb(61, 142, 209, .5);
    height: 90vh;
}

.menu ul {
    padding-left: 10px;
}

.menu ul a {
    text-decoration: none;
}

.body {
    /* font-size: 200px; */
}

.page_info {
    margin-top: 15px;
    margin-left: 40px;
    float: left;
}

.db_troopers {
    float: left;
    margin-top: 92px;
    margin-left: 120px;
    /* outline: 2px solid black; */
    padding: 10px 10px;
}

.db_troopers th {
    outline: 1px solid black;
    background: rgb(61, 142, 209, .5);
}

.db_troopers td {
    outline: 1px solid black;
}

.trooper_table {
    outline: 2px solid black;
    padding: 10px 10px;
}

.trooper_table input {
    width: 90px;
}

input.radio_b {
    width: 10px;
}