.title_bar {
    background-color: rgb(65, 63, 63);
    color: white;
    padding-left: 40px;
    font-size: 60px;
}

.menu {
    position: static;
    font-size: 20px;
    width: 140px;
    float: left;
    background-color: rgb(61, 142, 209);
}

.menu ul {
    padding-left: 10px;
}

.menu ul a {
    text-decoration: none;
}

.body {
    /* font-size: 200px; */
}

.page_info {
    margin-top: 15px;
    margin-left: 40px;
    float: left;
}